In [1]:
!pip install git+https://github.com/SheffieldSolar/PV_Live-API

Collecting git+https://github.com/SheffieldSolar/PV_Live-API
  Cloning https://github.com/SheffieldSolar/PV_Live-API to /tmp/pip-req-build-2j3r5xqm
Requirement already satisfied: requests in /home/tejan/anaconda3/lib/python3.7/site-packages (from pvlive-api==0.3) (2.21.0)
Requirement already satisfied: pytz in /home/tejan/anaconda3/lib/python3.7/site-packages (from pvlive-api==0.3) (2018.9)
Requirement already satisfied: certifi>=2017.4.17 in /home/tejan/anaconda3/lib/python3.7/site-packages (from requests->pvlive-api==0.3) (2019.3.9)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /home/tejan/anaconda3/lib/python3.7/site-packages (from requests->pvlive-api==0.3) (3.0.4)
Requirement already satisfied: idna<2.9,>=2.5 in /home/tejan/anaconda3/lib/python3.7/site-packages (from requests->pvlive-api==0.3) (2.8)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /home/tejan/anaconda3/lib/python3.7/site-packages (from requests->pvlive-api==0.3) (1.24.1)
Building wheels for collected packages: pvlive-api
  Building wheel for pvlive-api (setup.py) ... done
  Stored in directory: /tmp/pip-ephem-wheel-cache-i9pmt954/wheels/46/5c/ae/b7f2533e8d907b10cfcf5bf293178ed0e97251c0050576f2a7
Successfully built pvlive-api
Installing collected packages: pvlive-api
Successfully installed pvlive-api-0.3

In [4]:
import json
import requests
import pandas as pd
import numpy as np
from pprint import pprint
from datetime import datetime, date
#from pvlive_api import PVLive

In [5]:
df = pd.read_csv('data/consumption2017-P2.csv')
consumption_df = df[list(map(lambda x: len(x)>4,df.POSTCODE))]

In [ ]:
all_postcodes = []
for i in range(500):
    consumption_postcodes = list(consumption_df.iloc[100*i:100*i+100]['POSTCODE'])
    assert consumption_postcodes is not None
    payload = dict(postcodes=consumption_postcodes)
    
    assert payload is not None
    result = requests.post('https://api.postcodes.io/postcodes', data=payload).json()
    assert result['status'] is 200
    results = result['result']
    postcodes = []
    for result in results:
        if result['result'] is None:
            print(result)
            continue
        postcodes.append({'POSTCODE':result['result']['postcode'],'Longitude':result['result']['longitude'],'Latitude':result['result']['latitude']})
    
    all_postcodes.append(list(postcodes))

{'query': 'LA6 3GQ', 'result': None}
{'query': 'LA9 4', 'result': None}
{'query': 'LE1 1LF', 'result': None}
{'query': 'LE1 5NE', 'result': None}
{'query': 'LE1 7GP', 'result': None}

In [5]:
all_postcodes = sum(all_postcodes,[])

In [6]:
postcodes_df = pd.DataFrame(all_postcodes)
postcodes_df

         Latitude  Longitude  POSTCODE
0       54.125875  -2.778352   LA5 9UR
1       54.125347  -2.781985   LA5 9UT
2       54.135653  -2.771236   LA5 9UU
3       54.126280  -2.779402   LA5 9UW
4       54.135232  -2.771029   LA5 9UX
5       54.129656  -2.758836   LA5 9XA
6       54.130827  -2.756975   LA5 9XB
7       54.128824  -2.761086   LA5 9XE
8       54.129109  -2.760066   LA5 9XF
9       54.130839  -2.758001   LA5 9XG
10      54.130298  -2.755344   LA5 9XH
11      54.124864  -2.760508   LA5 9XJ
12      54.124306  -2.760712   LA5 9XL
13      54.129932  -2.756408   LA5 9XN
14      54.131646  -2.755475   LA5 9XT
15      54.130829  -2.755292   LA5 9XW
16      54.139659  -2.721195   LA6 1AD
17      54.139110  -2.705895   LA6 1AE
18      54.167497  -2.659171   LA6 1AP
19      54.143819  -2.640088   LA6 1AS
20      54.144370  -2.639546   LA6 1AT
21      54.142095  -2.638072   LA6 1AU
22      54.141104  -2.633495   LA6 1AX
23      54.140840  -2.632343   LA6 1AY
24      54.147015  -2.628900   LA6 1AZ
25      54.142584  -2.642411   LA6 1BA
26      54.137790  -2.649806   LA6 1BB
27      54.144105  -2.668490   LA6 1BD
28      54.124271  -2.693631   LA6 1BQ
29      54.123588  -2.739047   LA6 1BS
...           ...        ...       ...
499315  54.614764  -1.282995  TS23 3EL
499316  54.615112  -1.282649  TS23 3EP
499317  54.615689  -1.283010  TS23 3ES
499318  54.617671  -1.283750  TS23 3ET
499319  54.614806  -1.282592  TS23 3EW
499320  54.617171  -1.284300  TS23 3EX
499321  54.617507  -1.284821  TS23 3EY
499322  54.618987  -1.284439  TS23 3EZ
499323  54.626662  -1.281346  TS23 3FA
499324  54.627017  -1.280643  TS23 3FB
499325  54.627788  -1.280319  TS23 3FD
499326  54.626399  -1.290071  TS23 3FE
499327  54.620226  -1.295010  TS23 3GA
499328  54.620468  -1.293318  TS23 3GB
499329  54.620299  -1.293615  TS23 3GD
499330  54.619533  -1.294371  TS23 3GE
499331  54.621388  -1.295455  TS23 3GF
499332  54.621159  -1.294622  TS23 3GG
499333  54.622394  -1.293718  TS23 3GH
499334  54.621518  -1.293067  TS23 3GJ
499335  54.622675  -1.294240  TS23 3GL
499336  54.621590  -1.288528  TS23 3GN
499337  54.620059  -1.290940  TS23 3GP
499338  54.621085  -1.291232  TS23 3GR
499339  54.620548  -1.291597  TS23 3GS
499340  54.623094  -1.292049  TS23 3GT
499341  54.621921  -1.291264  TS23 3GU
499342  54.620707  -1.289519  TS23 3GW
499343  54.620315  -1.291772  TS23 3GX
499344  54.619724  -1.292030  TS23 3GY

[499345 rows x 3 columns]

In [40]:
postcodes_df = df.set_index('POSTCODE').join(postcodes_df.set_index('POSTCODE')).dropna()
postcodes_df

KeyError: 'POSTCODE'

In [26]:
long_to_X = (np.array(postcodes_df.Longitude)+8)//(10/90)
lat_to_Y = (np.array(postcodes_df.Latitude)-49)//(10/72)
tiles_data = list(zip(long_to_X,lat_to_Y))
tiles_df = pd.DataFrame(tiles_data, columns=['X','Y'], index=postcodes_df.index, dtype='int64')

def

In [27]:
x_min = 990
y_min = 660

In [28]:
tiles_df = postcodes_df.join(tiles_df)

In [29]:
tiles_df = tiles_df.dropna()
tiles_df = tiles_df.reset_index()

In [30]:
#tiles_df.to_json('data/consumption-P2.json')

In [31]:
pv = PVLive()
pv_data = pd.DataFrame(pv.between(datetime(2016, 1, 1, 0, 0),
                     datetime(2019, 1, 1, 0, 0)),columns=['pes_id','datetime','generation'

In [17]:
pv_data.head()

   pes_id              datetime  generation
0       0  2016-01-01T00:00:00Z         0.0
1       0  2016-01-01T00:30:00Z         0.0
2       0  2016-01-01T01:00:00Z         0.0
3       0  2016-01-01T01:30:00Z         0.0
4       0  2016-01-01T02:00:00Z         0.0

In [32]:
max(tiles_df.Y)

60

In [48]:
tiles_df = pd.read_json('data/consumption-P1.json')

In [49]:
tiles_df.tail()

,POSTCODE,Number of meters,Consumption (kWh),Mean consumption (kWh),Median consumption (kWh),Latitude,Longitude,X,Y
99995,BN3 1EB,13,37534,2887,2280,50.825389,-0.158406,35,6
99996,BN3 1ED,39,102356,2625,2238,50.825306,-0.159361,35,6
99997,BN3 1EE,54,203331,3765,2633,50.824638,-0.159827,35,6
99998,BN3 1EF,54,132793,2459,2288,50.823996,-0.160136,35,6
99999,BN3 1EG,39,127016,3257,2142,50.823718,-0.158287,35,6